:root {
  --primary-colour: #f0f8ff;
  --secondary-colour: #d3ad7f;
}

*,
::before,
::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #040509;
  color: var(--primary-colour);
}

.secondary-color {
  color: var(--secondary-colour);
}

h1 {
  font-size: 52px;
  line-height: 1.1;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

/* THE HEADER SECTION */
header {
  width: 100%;
  height: 90px;
  background-color: #040509;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary-colour);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav--links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav--links ul li {
  list-style: none;
}

.nav--links ul li a {
  color: var(--primary-colour);
}

.nav--links ul li a:hover {
  color: var(--secondary-colour);
  border-bottom: 1px solid var(--secondary-colour);
  padding-bottom: 5px;
}

.nav--icon {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  cursor: pointer;
}

.nav--icon > div:hover {
  color: var(--secondary-colour);
}

.nav--icon #hamburger-icon {
  display: none;
}

/* THE HERO SECTION */

.hero-section {
  height: 100vh;
  background-image: url(images/home-img.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .hero--text {
  width: 90%;
  padding-top: 90px;
  margin: 0 auto;
  gap: 20px;
}

.hero-section h1 {
  text-transform: uppercase;
  padding: 100px 0 0 0;
  width: 50%;
  padding-bottom: 20px;
}

.hero-section p {
  width: 50%;
  font-weight: 100;
}

.hero-section .hero--button {
  text-transform: capitalize;
  margin-top: 50px;
  display: inline-block;
  background-color: var(--secondary-colour);
  padding: 10px 20px;
  color: var(--primary-colour);
}

/* THE ABOUT SECTION */

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about--content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-container h2 {
  text-transform: uppercase;
}

.about--inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about--img {
  background-color: rgb(19, 19, 26);
  width: 100%;
}

.about--img .about--image--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about--text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgb(19, 19, 26);
  padding: 30px 20px;
}

.about--text p {
  line-height: 1.5;
}

.about--text .hero--button {
  text-transform: capitalize;
  margin-top: 30px;
  display: inline-block;
  background-color: var(--secondary-colour);
  padding: 10px 20px;
  color: var(--primary-colour);
}

/* OUR MENU */

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu--inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu--inner h2 {
  text-transform: uppercase;
  margin: 30px;
}

.menu--list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 1px solid var(--primary-colour);
  padding: 80px 50px;
}

.menu-container .menu--inner .menu--item:hover {
  background-color: var(--primary-colour);
  color: black !important;
}

.menu--price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.menu--price .current--price {
  font-size: 20px;
  font-weight: bold;
}

.menu--price .old--price {
  font-size: 14px;
  text-decoration: line-through;
}

.menu--item .hero--button {
  text-transform: capitalize;
  display: inline-block;
  background-color: var(--secondary-colour);
  padding: 10px 20px;
  color: var(--primary-colour);
}

/* OUR PRODUCTS */

.product-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container h2 {
  text-transform: capitalize;
  margin: 30px;
}

.product--content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product--items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid var(--primary-colour);
  padding: 20px;
}

.product--icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.product--icons-box {
  border: 1px solid var(--primary-colour);
  padding: 10px;
}

.product--icons-box:hover {
  background-color: var(--secondary-colour);
}

/* .product--picture {
} */

.product--stars {
  color: var(--secondary-colour);
}

.product--prices {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}

.product--prices .product--current-price {
  font-size: 20px;
  font-weight: bold;
}

.product--prices .product--old-price {
  font-size: 14px;
  text-decoration: line-through;
}

/* REVIEW SECTION */

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.review-container h2 {
  text-transform: uppercase;
  margin: 30px;
}

.review--content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border: 1px solid var(--primary-colour);
  padding: 30px 20px;
}

.review--list p {
  line-height: 1.5;
}

.review--list h4 {
  text-transform: capitalize;
}

/* .review--content-quote {
} */

/* .review--content-quote img {
} */

.review--profile-image {
  width: 100%;
}

.review--profile-image img {
  width: 80px;
  border-radius: 50%;
}

.review--stars {
  color: var(--secondary-colour);
}

/* THE CONTACT SECTION */

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact--inner {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--inner h2 {
  text-transform: uppercase;
  margin: 30px;
}

.contact--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
}

.contact--map {
  width: 100%;
  background-color: #13131a;
}

.contact--map img {
  width: 100%;
}

.contact--form {
  width: 100%;
  background-color: #13131a;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 30px;
  text-align: center;
}

.contact--form h2 {
  text-transform: uppercase;
}

.contact--form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form--input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #040509;
  padding: 12px 20px;
  border: 1px solid var(--primary-colour);
}

.form--input input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary-colour);
}

.contact--form .hero--button {
  text-transform: capitalize;
  display: inline-block;
  background-color: var(--secondary-colour);
  padding: 10px 20px;
  color: var(--primary-colour);
}
/* OUR BLOG SECTION */

.blog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container h2 {
  text-transform: uppercase;
  margin: 30px;
}

/* .blog-container {
} */

.blog--content {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog--item {
  border: 1px solid var(--primary-colour);
}

.blog--img {
  width: 100%;
}

.blog--img img {
  width: 100%;
}

.blog--text {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog--text h5:hover {
  color: var(--secondary-colour);
}

.blog--text h4 {
  color: var(--secondary-colour);
}

.blog--text p {
  line-height: 1.5;
}

.blog--item .hero--button {
  text-transform: capitalize;
  margin-top: 20px;
  display: inline-block;
  background-color: var(--secondary-colour);
  padding: 10px 20px;
  color: var(--primary-colour);
}

/* THE FOOTER */

.footer-container {
  width: 100%;
  background-color: #13131a;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer--inner {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}

.footer--social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer--social-media a {
  color: var(--primary-colour);
  padding: 15px;
  border: 1px solid var(--primary-colour);
  border-radius: 50%;
  font-size: 20px;
}

.footer--social-media a:hover {
  background-color: var(--secondary-colour);
}

.footer--links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.footer--links a {
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
  padding: 10px 20px;
}

.footer--links a:hover {
  background-color: var(--secondary-colour);
}

.footer--text {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  /* THE HEADER SECTION */

  .nav--links {
    display: none;
  }
  .nav--icon #hamburger-icon {
    display: block;
  }
  .nav--icon #hamburger-icon {
    display: block;
  }

  /* THE HERO SECTION */

  .hero-section {
    width: 100%;
  }

  .hero-section .hero--text {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-section h1 {
    width: 100%;
  }

  /* .hero-section p {
  } */

  /* THE ABOUT SECTION */

  .about--inner {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about--text .hero--button {
    margin-bottom: 20px;
  }

  /* OUR MENU */

  .menu--list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* OUR PRODUCTS */

  .product--content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* REVIEW SECTION */

  .review--content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* THE CONTACT SECTION */

  .contact--content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact--form .hero--button {
    margin-bottom: 20px;
  }

  /* OUR BLOG SECTION */

  .blog--content {
    grid-template-columns: repeat(2, 1fr);
  }

  /* THE FOOTER */
}

@media screen and (max-width: 500px) {
  /* THE HEADER SECTION */

  /* THE HERO SECTION */

  /* THE ABOUT SECTION */

  /* OUR MENU */

  .menu--list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* OUR PRODUCTS */

  .product--content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* REVIEW SECTION */

  .review--content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .review-container h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
  }

  /* THE CONTACT SECTION */

  /* OUR BLOG SECTION */
  .blog--content {
    grid-template-columns: 1fr;
  }

  /* THE FOOTER */

  .footer-container {
    text-align: center;
  }
}
